In [2]:
list1 = (1,2)
list2 = (3,4)

list1 > list2

False

In [3]:
x = 0b10111
y = 0b10011
print(bin(x & y))

0b10011

In [5]:
list = 'or'

In [6]:
for x in range(4):
    for y in range(3):
        print(y)
        break

0
0
0
0

In [7]:
a = 0b111
b = a << 3
 
print(bin(b))

0b111000

In [9]:
def f(str):
    print(str)
    
f('hello')

hello

In [11]:
'1' is '1'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/9q/9mllqnsn2vq07btq58zw9zzc0000gn/T/ipykernel_28391/1283835458.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  '1' is '1'

True

In [13]:
a = 1
b = 1
a^b

0

In [14]:
var = 5

In [15]:
for n in range(0,5):
   n =n*n
print(n)

16

In [20]:
list1 = (10, 5, (8,6))
list2 = (8, 3, (2,6))
print(list1 > list2)

True

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [21]:
inp = input() 
print(inp*4)

coding
codingcodingcodingcoding

In [22]:

def f1():
   c = 30,
   d = 20,
   return c, d
 
a, b = f1()
 
print(a,b)

(30,) (20,)

In [23]:
inp = 1
 
if (inp < 3): print("Sandy")
else: print("Monika")

Sandy

In [24]:
if True:print('hello')

hello

In [25]:
dict1 = {'Name':'Samuel'}
dict2 = {'Age': 20}
dict3 = dict1 + dict2
print(dict3)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [29]:
year = 10000
print("Year less than 2021") if year < 2021 else print("Bye 2020")

Bye 2020

In [30]:
print(3//4*5)

0

In [31]:
d1 = {'Age': 27, 'Name': 'Holding'}
d2 = {'Name': 'Holding', 'Age': 27}
print(d1 == d2)

True

In [36]:
tup = (6)

In [37]:
type(tup)

int

In [38]:
inp = 1
 
if (inp < 3): print("Sandy")
else: print("Monika")

Sandy

In [40]:
p = '*'
def multiply():
    global p
    print(p)
    p *= 3
    print(3 * p)
multiply()
print(p)

*
*********
***

In [44]:

data = ""
while data:
    print("Data is not Empty")

else:
    print("Data is Empty")

Data is Empty

In [45]:
t = ("sandy", "mandy", "candy","andy")
print(sorted(t))

['andy', 'candy', 'mandy', 'sandy']


The name "Python" for the programming language comes from the British comedy show "Monty Python's Flying Circus." Guido van Rossum, the creator of Python, was a fan of the show, and he named the language after it as a tribute. The name was chosen to be fun and memorable, reflecting the language's philosophy of being readable and easy to understand.

In [46]:
def fact(n):
   if n == 1:
       return 1
   return fact(n-1)*n
 
print(fact(4))

24

In [47]:
tupl = (1, 3, 5, 4)
tupl[3] = 8
print(tupl)

TypeError: 'tuple' object does not support item assignment

In [50]:
l1 = ['pandas','Numpy','Scipy']
l2 = ['pandas','Numpy','Scipy']
l3 =  l2
l3 == l1

True

In [51]:
fruit = "Mango",
print(type(fruit))

<class 'tuple'>

In [52]:
a = 1
b = 5
print(a == b or a < b and not b != a)

False

In [53]:
True or False

True

In [54]:
False or True

True

In [55]:
True or False and False

True

In [56]:
False or True and True

True

In [57]:
print(1 // 2)
print(6. // -4)

0
-2.0

In [58]:
list1 = []
list2 = list1[:]
list2.append(5)
print(list1)
print(list2)

[]
[5]

In [59]:
def week(days):
   days[4]='fri'
 
day = ['mon', 'tue', 'wed', 'thu','sat','sun']
week(day)
print(day)

['mon', 'tue', 'wed', 'thu', 'fri', 'sun']

In [60]:
tupl1 = (1, 2, 3)
tupl2 = ("Apples", "Bananas")
tupl3 = (tupl1 + tupl2)
print(tupl3)
tupl4 = tupl1 + tupl2
print(tupl4)

(1, 2, 3, 'Apples', 'Bananas')
(1, 2, 3, 'Apples', 'Bananas')

In [61]:
print(end='',sep='@@')

In [62]:
print(5** 2 ** 0 ** 1)

5

In [63]:
a = 1
b = 1
print(a^b)

0

In [65]:
french_greeting = 'Bonjour'
for i in french_greeting:
  if i == 'r':
     continue
  print(i)
else:
  print('Madam')

B
o
n
j
o
u
Madam

In [66]:
a= [1,2,3,4,5]
print(a.index(3))

2

In [67]:
def reduce(a):
   while a > 3:
       a = a - 1
   else:
       print(a)
a=4
reduce(a)

3

In [70]:
dict = {'r':2,'p':4,'q':5}
print(sorted(dict))

['p', 'q', 'r']

In [73]:
val = ("hi","hello","bye")
val.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [72]:
for ch in 'apple':
   if ch != 'p' and ch != 'e':
        continue
   print(ch,end="")

ppe

In [74]:
dict1 = {12:35,13:26,49:24,55:46,90:20}
dict2 = {56:68,35:15,25:28,32:39,65:40}
output = dict1 > dict2
print(output)

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [75]:
val=str(bool(0) + float(10)/float(5))
print(val)
print(type(val))

2.0
<class 'str'>

In [76]:
False + 2

2

In [77]:
True + 2

3

guido van rossum created python

Python use which tool to execute the programs?
interpeter

In [78]:
city1 = "New York"
city2 = "New York"
print(city1 is city2)

False

In [79]:
city1 = "New York"
city2 = "New York"
print(city1 is city2)

False

In [80]:
print("Python is a",print("High level"),print("OOP"),print("NOT ML"))

High level
OOP
NOT ML
Python is a None None None

In [81]:
l1 = ['A','a','B','b']
l1.sort()
print(l1)

['A', 'B', 'a', 'b']

In [82]:
mixed_list = [65,"A",66,"B",67,"C"]
mixed_list.sort()
print(mixed_list)

TypeError: '<' not supported between instances of 'str' and 'int'

In [83]:
a = 2
b = 1
a *= b + 2
print(a)

6

In [84]:
def f1():
   c = 30,
   d = 20,
   return c, d
 
a, b = f1()
 
print(a,b)

(30,) (20,)

In [85]:
list = [2, 5, 8, 10]

list[3]

10

In [86]:
(1,) + (3,)

(1, 3)