In [2]:
first= input('Enter first number: ')
second = input('Enter second number: ')

print('Before swapping:', first, second)
first= second
second = first

print('After swapping:', first, second)

Enter first number: 10
Enter second number: 20
Before swapping: 10 20
After swapping: 20 20

In [3]:
first= input('Enter first number: ')
second = input('Enter second number: ')

print('Before swapping:', first, second)
temporary= first
first = second 
second = temporary

print('After swapping:', first, second)

Enter first number: 10
Enter second number: 20
Before swapping: 10 20
After swapping: 20 10

In [4]:
first= input('Enter first number: ')
second = input('Enter second number: ')

print('Before swapping:', first, second)
first, second = second, first

print('After swapping:', first, second)

Enter first number: 10
Enter second number: 20
Before swapping: 10 20
After swapping: 20 10

In [7]:
top_cities = ['New York City',
'Los Angeles',
'Chicago',
'Huston',
'Pheonix']

top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['Pheonix', 'Los Angeles', 'Chicago', 'Huston', 'New York City']

In [8]:
top_cities = ['New York City',
'Los Angeles',
'Chicago',
'Huston',
'Pheonix']
top_cities.sort()

In [9]:
top_cities

['Chicago', 'Huston', 'Los Angeles', 'New York City', 'Pheonix']

In [11]:
random_numbers = [2,5,0, -3, 4]
random_numbers.sort()
print(random_numbers)

[-3, 0, 2, 4, 5]

In [12]:
random_numbers = [2,5,0, -3, 4]
random_numbers.sort(reverse= True)
print(random_numbers)

[5, 4, 2, 0, -3]

In [13]:
#### using sorted in place
top_cities = ['New York City',
'Los Angeles',
'Chicago',
'Huston',
'Pheonix']
print(sorted(top_cities))
print(top_cities)

['Chicago', 'Huston', 'Los Angeles', 'New York City', 'Pheonix']
['New York City', 'Los Angeles', 'Chicago', 'Huston', 'Pheonix']